<body style="background-color:<%= @color %>">

<br />
<h1><%= @message %></h1>
<br />
<div><img src="<%= @image %>" /></div>
<br />

<button type="button" id="another" href="/">Another!</button>
<body onclick="location.href='/'"></body>