<body style="background-color:<%=@color%>">

<h1><%= @message %></h1>
<br />
<div><img src="<%= @image %>" /></div>
<br />

<a id="another" href="/">Another!</a>
<body onclick="location.href='/'"></body>