<!DOCTYPE html>
<html>

<head>

<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">

<title>GIFs and Shit</title>
</head>
<body>
	<div class="container">
		<body style="background-color:<%=@color%>">
		<h2>GIFs and Shit</h2>
		<%= yield %>
	</div>
</body>
</html>

