<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
  <link href="/styles.css" type="text/css" rel="stylesheet" />
  <title>GIFs and Shit</title>
</head>
<body>
	<div class="container">
		<h2>GIFs and Shit</h2>
    <br />
		<%= yield %>
	</div>
</body>
</html>