@import url(http://fonts.googleapis.com/css?family=Text+Me+One);

body {
  text-align: center;
  cursor: pointer;
}

h1 {
  font: normal 60px 'Text Me One', sans-serif;
}

h2 {
  font: bold 28px 'Text Me One', sans-serif;
}

#another {
  font: normal 22px 'Text Me One', sans-serif;
}
#share-link {
  font: normal 20px 'Text Me One', sans-serif;
}
