@import url(http://fonts.googleapis.com/css?family=Text+Me+One);

header {
	background-color: #d3d3d3;
}

body {
	background-color: #d3d3d3;
}

h1 {
	font: normal 52px 'Text Me One', sans-serif;
}

h2 {
	font: bold 28px 'Text Me One', sans-serif;
}

#another_compliment {
  font: normal 18px 'Text Me One', sans-serif;
}

